// Defaults

body {
    font-family: $default-font;
}

img {
    width: 100%;
}

a {
    color: $highlight-green;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
        color: $base-green;
    }
}

.hidden-on-desktop {
	@media screen and (min-width: 801px) {
		display: none;
	}
}

.hidden-on-mobile {
	@media screen and (max-width: 800px) {
		display: none;
	}
}