// Forms 

input[type="text"], input[type="search"] {
    padding: 0.3em 1em;
    border-radius: 30px;
    border: 1px solid #AAA;
    font-size: 1em;
}

label {
    display: block;
    font-weight: bold;
    margin: 3em 0 0.75em 0;
}

form#search-box {
    position: relative;
    button {
        background: transparent;
        border: none;
        position: absolute;
        width: 39px;
        right: 0px;
        top: 4px;
    }
}

