// Typography
body { font-size: 16px; }

h1, .h1 { font-size: 30px; }
h2, .h2 { font-size: 25px; }
h3, .h3 { font-size: 20px; }

p {
    line-height: 23px;
}

blockquote {
    font-size: 30px;
    color: #888888;
    margin: 2em 0;
}

.subheading {
    font-size: 25px;
    color: #888888;
    margin-top: -23px;
    margin-bottom: 1.5em;
    line-height: 1.3em;
}
